.answers {

    &__title {
        margin-bottom: 20px;
    }

    &__subtitle {
        margin: 0 auto;
        margin-bottom: 50px;
        max-width: 500px;
        text-align: center;
    }

    &__list {
        list-style: none;
        counter-reset: num;
        padding: 0;
        margin: 0 auto;
        color: $color-second;
        line-height: 24px;
    }

    &__item {
        position: relative;

        &:before {
            position: absolute;
            content: '0' counter(num);
            counter-increment: num;
            font-weight: 700;
            color: $color-first;
        }

        &.active {
            .answers__answer {
                display: block;
            }

            .answers__answer-wrap {
                animation-name: answer;
                animation-duration: 0.3s;
            }

            .answers__button {
                background-color: $color-first;

                &::before,
                &::after {
                    background-color: #ffffff;
                }

                &::before {
                    width: 18px;
                    height: 2px;
                }

                &::after {
                    width: 0;
                    height: 0;
                }
            }
        }
    }

    &__question {
        position: relative;
        border: 0.5px solid rgba($color-first, 0.4);
        font-weight: 500;
        display: flex;
        align-items: center;
        
        &:hover,
        &:focus {

            .answers__button {
                background-color: $color-first;

                &::before,
                &::after {
                    background-color: #ffffff;
                }
            }
        }
    }

    &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border-top: none;
        border-right: none;
        border-bottom: none;
        outline: none;
        border-left: 0.5px solid rgba($color-first, 0.4);
        cursor: pointer;
        transition: 0.3s;

        &::before,
        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-first;
        }

        &::before {
            width: 18px;
            height: 2px;
        }

        &::after {
            width: 2px;
            height: 18px;
        }
    }

    &__answer {
        overflow: hidden;
        display: none;
        border-left: 0.5px solid rgba($color-first, 0.4);
        border-right: 0.5px solid rgba($color-first, 0.4);
        border-bottom: 0.5px solid rgba($color-first, 0.4);
        font-weight: 300;
    }

}

@media (min-width: $min-desktop + 1) {
    .answers {
        padding: 75px 40px 80px;

        &__list {
            width: 800px;
        }

        &__item {
            transform: translateX(50px);
    
            &:not(:last-child) {
                margin-bottom: 38px;
            }

            &:before {
                top: 50px;
                left: -110px;
                font-size: 70px;
            }
        }

        &__question {
            padding: 45px 150px 45px 42px;
        }

        &__button {
            width: 104px;
        }

        &__answer {
            padding: 30px 200px 40px 42px;
        }
    }
}

@media (max-width: $min-desktop) and (min-width: $tablet) {
    .answers {
        padding: 135px 55px 125px 105px;

        &__item {
            transform: translateX(10px);

            &:before {
                top: 28px;
                left: -80px;
                font-size: 50px;
            }

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }

        &__question {
            min-height: 77px;
            padding: 14px 140px 14px 30px;
        }

        &__button {
            width: 73px;
        }

        &__answer {
            padding: 10px 140px 10px 30px;
        }
    }
}

@media (max-width: $tablet - 1) {
    .answers {
        padding: 60px 15px;

        &__title {
            margin-bottom: 30px;
            font-size: $font-size-subtitle-mobile;
        }
    
        &__subtitle {
            margin-bottom: 40px;
            max-width: 180px;
            font-size: $font-size-m;
            line-height: 20px;
            font-weight: 300;
        }

        &__item {
    
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &:before {
                display: none;
            }
        }

        &__question {
            padding: 10px 55px 10px 15px;
            min-height: 60px;
            font-size: $font-size-m;
            line-height: 20px;
        }

        &__answer {
            padding: 10px 25px 10px 15px;
            font-size: $font-size-m;
            line-height: 20px;
        }

        &__button {
            width: 43px;
        }
    }
}

@keyframes answer {
    0% {
        display: none;
        transform: translateY(-200%);
    }
    100% {
        display: block;
        transform: translateY(0);
    }
}