.button {
    display: flex;
    width: 200px;
    min-height: 52px;
    background-color: transparent;
    border: 0.5px solid $color-first;
    align-items: center;
    justify-content: center;
    color: $color-caption;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

    &:hover,
    &:focus {
        background-color: $color-first;
    }

    &:active {
        opacity: 0.9;
    }
}

@media (max-width: $tablet - 1) and (min-width: $mobile) {
    .button {
        font-size: 12px;
        line-height: 20px;
        width: 140px;
        min-height: 40px;
        margin: 0 auto;
    }
}
