.header {
    position: relative;
    padding-left: 40px;
    background: $bgdark;
    overflow: hidden;

    &__wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 962px;
        margin: 0 auto;
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 46px;
    }

    &__city {
        font-size: $font-size-l;
    }

    &__title {
        width: 350px;
        color: $color-caption;
        font-family: $font-caption;
        font-weight: 400;
        font-size: $font-size-title;
        line-height: 60px;
    }

    &__subtitle {
        margin-bottom: 50px;
        width: 280px;
        font-size: $font-size-l;
        line-height: 24px;
    }

    &__cat {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: $desktop) {
    .header {
        height: 684px;
        
        &__cat {
            right: -25px;
        }
    }
}

@media (max-width: $desktop) and (min-width: $min-desktop + 1) {
    .header {
        overflow: hidden;
        height: 684px;

        &__cat {
            left:42%;
        }
    }
}

@media (max-width: $min-desktop) and (min-width: $tablet) {
    .header {
        overflow: hidden;
        padding-top: 70px;
        height: 595px;

        &__logo {
            top: 30px;
        }

        &__cat {
            height: 535px;
            width: auto;
            left: 40%;
        }
    }
}

@media (max-width: $tablet - 1) and (min-width: $mobile) {
    .header {
        overflow: hidden;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 100px;
        min-height: 617px;
        text-align: center;

        &__wrapper {
            max-width: 250px;
        }

        &__subtitle,
        &__title {
            width: 250px;
        }

        &__logo {
            top: 30px;
        }

        &__city,
        &__subtitle {
            font-size: $font-size-m;
            line-height: 20px;
        }

        &__subtitle {
            margin-bottom: 35px;
        }

        &__title {
            margin: 15px 0;
            font-size: $font-size-subtitle;
            line-height: 42px;
        }

        &__cat {
            width: 320px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}