.header {
    position: relative;
    padding-left: 40px;
    background: $bgdark;
    overflow: hidden;

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 962px;
        margin: 0 auto;
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 46px;
    }

    &__city {
        font-size: $font-size-l;
    }

    &__title {
        width: 350px;
        color: $color-caption;
        font-family: $font-caption;
        font-weight: 400;
        font-size: $font-size-title;
        line-height: 60px;
    }

    &__subtitle {
        margin-bottom: 50px;
        width: 280px;
        font-size: $font-size-l;
        line-height: 24px;
    }

    &__cat {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: $desktop) {
    .header {
        height: 100vh;
        
        &__cat {
            right: -25px;
        }
    }
}

@media (min-width: 1260px) {
    .header {

        &__social {
            position: absolute;
            bottom: 60px;
            left: -115px;
            flex-direction: column;
            align-items: center;

            &::after {
                position: absolute;
                content: '';
                top: -102px;
                left: 50%;
                width: 1px;
                height: 77px;
                background-color: rgba(#ffffff, 0.6);
            }
        }

        &__social-item {
            margin: 7px 0;
        }

        &__social-item--fb {
            order: 1;
        }

        &__social-item--vk {
            order: -1;
        }

        &__social-item + &__social-item {
            margin-left: 0;
        }

        &__social-svg {
            fill: #fff;
        }
    }
}

@media (max-width: 1259px) and (min-width: $tablet) {
    .header {

        &__social {
            position: absolute;
            bottom: 45px;
            left: 0;
            align-items: center;
        }

        &__social-item--fb {
            order: 1;
            margin-left: 12px;
        }

        &__social-item--vk {
            order: -1;
            margin-right: 12px;
        }

        &__social-item + &__social-item {
            margin-left: 0;
        }

        &__social-svg {
            fill: #fff;
        }
    }
}

@media (max-width: $tablet - 1) {
    .header {

        &__social {
            display: none;
        }
    }
}

@media (max-width: $desktop) and (min-width: $min-desktop + 1) {
    .header {
        overflow: hidden;
        height: 684px;

        &__cat {
            left:42%;
        }
    }
}

@media (max-width: $min-desktop) and (min-width: $tablet) {
    .header {
        overflow: hidden;
        padding-top: 70px;
        height: 595px;

        &__logo {
            top: 30px;
        }

        &__cat {
            height: 535px;
            width: auto;
            left: 40%;
        }

        &__text {
            margin-top: -80px;
        }
    }
}

@media (max-width: $tablet - 1) and (min-width: $mobile) {
    .header {
        overflow: hidden;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 100px;
        min-height: 617px;
        text-align: center;

        &__wrapper {
            max-width: 250px;
        }

        &__subtitle,
        &__title {
            width: 250px;
        }

        &__logo {
            top: 30px;
        }

        &__city,
        &__subtitle {
            font-size: $font-size-m;
            line-height: 20px;
        }

        &__subtitle {
            margin-bottom: 35px;
        }

        &__title {
            margin: 15px 0;
            font-size: $font-size-subtitle;
            line-height: 42px;
        }

        &__cat {
            width: 275px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}