.recall {
    margin-bottom: 112px;

    &__title {
        margin-bottom: 50px;
    }

    &__block {
        position: relative;
        transform: translateX(220px);
        margin: 0 auto;
        background-color: #151313;
        width: 640px;
        padding: 108px 87px 100px 145px;
    }

    &__down {
        display: flex;
        align-items: center;
    }

    &__date {
        margin-right: 36px;
    }

    &__name {
        margin-bottom: 10px;
        font-size: $font-size-name;
        font-weight: 500;
        color: #fff;
    }

    &__social {
        margin: 0;

        a {
            margin-right: 10px;
            padding: 7px;
            border: 0.5px solid rgba($color-first, 0.27);
        }
    }

    &__social svg {
        fill: $color-first;
    }

    &__descr {
        margin-bottom: 45px;
        font-weight: 300;
        font-size: $font-size-m;
        line-height: 23px;
        color: #fff;
        opacity: .72;
    }

    &__photo-wrapper {
        position: absolute;
        overflow: hidden;
        width: 481px;
        height: 331px;
        left: -380px;
        top: 45px;
    }

    &__photo-inner {
        display: flex;
        transform: translateX(0);
        transition: 0.3s;
    }

    &__block-content {
        display: none;
        transition: opacity 0.3s;
        opacity: 0;
    }

    &__block-content--active {
        display: block;
        opacity: 1;  
        animation-name: fade;
        animation-duration: 0.3s;
        animation-timing-function: linear;
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &--left {
            left: -500px;
        }

        &--right {
            right: -70px;
        }
    }
}

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }

@media (max-width: $desktop) and (min-width: $tablet) {
    .recall {
        &__block {
            padding: 150px 80px 43px;
        }

        &__button {
            top: 40px;
            width: 59px;
            height: 16px;
    
            &--left {
                left: 50px;
                background-image: url(../img/icons/recall-left.svg);
            }
    
            &--right {
                right: 50px;
                background-image: url(../img/icons/recall-right.svg);
            }
        } 
    }
}

@media (min-width: $mobile) and (max-width: $desktop) {
    .recall {
        &__title {
            margin-bottom: 145px;
        }

        &__block {
            text-align: center;
            transform: translateX(0);
        }

        &__down {
            justify-content: center;
        }

        &__photo-wrapper {
            left: 50%;
            top: -95px;
            transform: translateX(-50%);
            width: 302px;
        }

        &__photo {
            width: 302px;
        }

        &__button {
            transform: translateY(0);
        } 
    }
}


@media (max-width: $tablet - 1) {
    .recall {
        margin-bottom: 60px;

        &__title {
            font-size: $font-size-subtitle-mobile;
        }
        &__name {
            font-size: $font-size-name-mobile;
        }
        &__block {
            width: 90%;
            padding: 115px 7% 43px;
        }

        &__photo-wrapper {
            top: -83px;
            width: 242px;
        }

        &__photo {
            width: 242px;
        }

        &__button {
            top: -7px;
    
            &--left {
                left: calc(50% - 145px);
            }
    
            &--right {
                left: calc(50% + 135px);
            }
        } 
    }
}