$bgdark: #181617;
$bglight: #1f1c1d;

$font-main: 'Roboto', 'Arial', sans-serif;
$font-caption: 'Yeseva One', 'Arial', cursive;

$color-caption: #ffffff;
$color-first: #a07b50;
$color-second: #ddd0c3;
$color-footer: #fdf2e6;

$desctop: 1366px;