$bgdark: #181617;
$bglight: #1f1c1d;

$font-main: 'Roboto', 'Arial', sans-serif;
$font-caption: 'Yeseva One', 'Arial', cursive;

$color-caption: #ffffff;
$color-first: #a07b50;
$color-second: #ddd0c3;
$color-footer: #fdf2e6;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-name-mobile: 18px;
$font-size-name: 24px;
$font-size-subtitle-mobile: 28px;
$font-size-subtitle: 36px;
$font-size-title: 52px;

$desktop: 1366px;
$min-desktop: 980px;
$tablet: 768px;
$mobile: 320px;